@use '_variables' as v;

input[type="text"] {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container-input{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    width: 10%;
}


        
ul {
    list-style: none;
    background-color: v.$color_light;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
        
li {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
        
li:last-child {
    border-bottom: none;
}